body {
    display: flex;
    background-color: $light;
}

main {
    margin-top: 75px;
    height: 382px;
    width: 100%;
    display: block;
}

.banner {
    background-image: url("../../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 20%;
    height: 382px;
    width: 100%;
    opacity: 0.5;
    position: relative;
}

.movie-section {
    width: 100%;
}