body {
    display: flex;
    background-color: $light;
    font-family: $principal-font;

    a {
        text-decoration: inherit;
    
        &:visited {
            color: inherit;
        }
    }
}

h2, h3, h4 {
    font-weight: $light-weight;
}

main {
    margin-top: 75px;
    height: 382px;
    width: 100%;
    display: block;
}

.banner {
    background-image: url("../../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 20%;
    height: 382px;
    width: 100%;
    opacity: 0.5;
    position: relative;

    #banner-title {
        position: absolute;
        transform: translate(160%, 185px);
        margin: 0;
        color: $dark;
        opacity: 1;
    }
}

.movies-section {
    width: 96%;
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
    box-sizing: border-box;

    .popular-section, .top-rated-section, .upcoming-section, .now-playing-section {
        display: flex;
        flex-direction: column;

        #popular-section, #top-rated-section, #upcoming-section, #now-playing-section {
            display: flex;
            justify-content: space-between;
        }
    }

    #movie-poster {
        height: 250px;
        transition: height .4s ease .1s;
    }

    #movie-title {
        max-width: 150px;
        color: $dark-fade;
        transition: color .4s ease .1s;
    }
    
    #movie-node:hover {
        #movie-poster {
            height: 260px;
        }
        #movie-title {
            color: $dark;
        }
    }
}

.movies-title {
    display: flex;
    justify-content: space-between;

    h2 {
        color: $dark;
        font-size: $medium-size;
    }

    h4 {
        color: $dark-fade;

        &:hover {
            color: $dark;
        }
    }

    i {
        color: $dark-fade;
        margin-left: 20px;
        font-size: $nav-size;
    }
}

#movies-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

    .movie-node {
        margin: 0px 10px;

        .movie-title {
            flex-wrap: wrap;
        }
    }
}