header {
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    margin-left: 95px;
    background-color: $light;
    z-index: 1000;

    img {
        margin-left: 30px;
        height: 18px;
    }
}

nav {
    width: 95px;
    min-height: 100vh;
    position: fixed;
    z-index: 999;
    display: block;
    background-color: #ffffff;

    ul {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 382px;

        li{
            list-style: none;
        }

        h3 {
            font-size: $nav-size;
            color: $dark-fade;
            transition: color .4s ease .1s;
            margin: 10px 0px 0px 0px;
        }
    }
}

#iconSearch, .nav-icon {
    opacity: 0.5;
    transition: opacity .4s ease-out .1s;
}

.search-box {
    outline: none;
    width: 100%;

    input {
        padding: 15px 30px 15px 10px;
        border-color: transparent;
        background-color: transparent;
        font-size: $search-size;
        font-family: $principal-font;
        font-weight: $light-weight;
        width: 88%;

        &:focus {
            outline: none;

            #iconSearch {
                opacity: 0.8;
            }
        }
    }
}

.box-ada, .nav-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 95px;
}

.box-ada {
    background-color: $dark;
    height: 75px;
    
    img {
        width: 38px;
        height: 38px;
    }
}

.nav-box {
    border-bottom: solid $light 2px;
    height: 93.8px;

    &:hover h3 {
        color: $dark;
    }

    &:hover .nav-icon {
        opacity: 0.8;
    }

    img {
        width: 20px;
        height: 20px;
    }
}