/*fuente principal*/
$principal-font: 'Roboto', sans-serif;

/*pesos fuentes*/
$light-weight: 300;

/*tamaño fuentes*/
$nav-size: 10px;
$title-size: 14px;
$search-size: 16px;
$medium-size: 20px;
$large-size: 30px;

/*colores*/
$dark: #081c24;
$dark-fade: #081c2488;
$light: #f8f8f8;
$movie-title: #bc3b69;
