/*fuente principal*/
$principal-font: 'Roboto', sans-serif;

/*pesos fuentes*/
$light-weight: 300;

/*tamaño fuentes*/
$nav-size: 10px;
$search-size: 16px;
$medium-size: 20px;
$large-size: 30px;
$extra-large-size: 40px;

/*colores*/
$dark: #081c24;
$dark-fade: #081c249f;
$light: #f8f8f8;